* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #293264;
    background-color: lightblue;
    font-family: "Karla", "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: 20px;
    padding: 40px;
    background-color: #F5F7FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    min-width: 600px;
}

.title {
    margin: 0;
    font-weight: 700;
    font-size: 31px;
    color: #293264;
}

.description {
    margin: 10px 0px 20px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.button-div {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.score-text {
    font-family: "Inter";
    font-weight: 700;
    font-size: 18px;
}

.quiz-btn {
    margin: 0;
    color: #F5F7FB;
    background: #4D5B9E;
    border: none;
    border-radius: 15px;
    padding: 16px 60px;
    font: 'Inter';
    font-weight: 600;
    font-size: 16px;
}

.question-container {
    margin-bottom: 10px;
    border-bottom: solid 1px #DBDEF0;
}

.question {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.answers-container {
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.answer {
    color: #293264;
    padding: 5px 15px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    border: solid 1px #4D5B9E;
    border-radius: 8px;
    background: none;
}